@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font01: 'Sriracha', cursive;
    --font02: arial , cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font01);

    
    

}

body {
    min-height: 100vh;
}

p {
    font-style: normal ;
    margin: 100px;
    padding-top: 10vw;
    padding-bottom: 10vw;
    text-align: left;
    font-family: 'Sriracha', Cursive;
    font-size: 0.8em;
   
    
}

header {
    
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    margin: 50px black;
    
    
    
}
header h1 {

    font-size: 8vw;
    text-align: center;
    padding-top: 50px;
    

}

header p {
    text-align: center;
    margin: 0px;
    padding-top: 0vw;
    padding-bottom: 0vw;
    padding-bottom: 50px;
    
}
header p a {
    text-decoration: none;
    color: white;
}

header p a:hover {
    text-decoration: underline;
}

main {
    height: 100%;
    background-color: white;
    font-size: 2em;
    font-size: 8vw;

}
main p {
    margin-left: 40px;
    background-color: white;
    margin-top: 7vw;
    margin-bottom: 7vw;
    line-height: 2em;
    font-size: 4vw;
    
    


}


div#image01 {
    background-image: url(imagens/iamgen-girassol-ok.jpg);
    padding: 5px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 16px 0px rgba(0, 0, 0, 0.848);


}

div > p {
    
    background-color: rgba(0, 0, 0, 0.374);
    color: white;
    padding-left: 20px;
    display: inline-block;
    border-radius: 10px;
    
    
    
}

div#image02 {
    background-image: url(imagens/imagem-a-mao.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 16px 0px rgba(0, 0, 0, 0.537);
   
    
}

footer {
    background-color: black;
    padding: 0px
    
}
footer p {
    color: white;
    text-align: center;
    margin: 0px;
    padding: 3px;
    box-shadow: 2px 2px rgba(56, 50, 50, 0.377);

}

footer a {
    text-decoration: none;
    color: white;
    font-family: var(--font02);
}

footer a:hover {
    text-decoration: underline;
}

