@charset "UTF-8";

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    body {
        background-color: rgb(38, 74, 233);
    }
    span#burguer {
        display: none;
    }
    
    menu#itens {
        display: block;
    
    
    }
    menu > ul > li {
        display: inline-block;
    }
}